body{
    margin: 0 auto;
    padding: 0px 100px;
    text-align: center;
    width: 600px;
}

.heading{
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto; 
}

.bullets{ 
    margin: 0 auto;
    text-align: left;
    display: inline-block;
}