body{
    font-family: garamond;
    margin: 0 auto 50px;
    padding: 0px 100px;
    text-align: center;
    width: 800px;
}

.heading{
    margin: 20px auto;
    font-size: 42px;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto; 
    border: 5px solid black;
}

.bullets{ 
    margin: 0 auto;
    text-align: left;
    display: inline-block;
}

div {
    padding: 0 50px 50px;
    background-color: rgb(228, 190, 164);
    border: 4px inset black;
    margin: 10px auto;
}